.places{
    display:flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 100px;
    justify-content: center;
    margin-bottom: 70px;
}

.places h1{
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 20px;
}

article{
    width: 390px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    position: relative;
}

article h2{
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}

.price_by_night{
    color: #FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 10px;
    right: 20px;
}

.price_by_night p{
    margin-top: 12px;
}

.information{
    height: 80px;
    border-top: solid #DDDDDD 1px;
    border-bottom: solid #DDDDDD 1px;
    display: flex;
    justify-content: center;
}

.max_guest, .number_rooms, .number_bathrooms{
    width: 100px;
    text-align: center;
}

.group_icon{
    background: url(../images/icon_group.png) no-repeat;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
}

.bed_icon{
    background: url(../images/icon_bed.png) no-repeat;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
}

.bath_icon{
    background: url(../images/icon_bath.png) no-repeat;
    height: 60px;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
}


.user .Owner{
    font-weight: bold;
}

.description{
    text-align: justify;
}
