.places{
    display:flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 100px;
    justify-content: center;
}

.places h1{
    font-size: 30px;
    position: absolute;
    top: 30px;
    left: 20px;
}

article{
    width: 390px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    position: relative;
}

article h2{
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}

.price_by_night{
    color: #FF5A5F;
    border: solid #FF5A5F 4px;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 10px;
    right: 20px;
}

.price_by_night p{
    margin-top: 12px;
}

.information{
    height: 80px;
    border: solid top bottom #DDDDDD 1px;
    vertical-align: middle;
}
